{{#partial "content"}}
    <div id="main">
        <div class="containe">
                <h1>WILDLIFE TRACKER</h1>
                <hr>
            </div>
            <div class="row">
                <div class="col-md-6 offset-3">
                    <h1>Track Endangered Animals Below</h1>
                    <hr>
                </div>
                <div class="col-md-6 offset-3">
                    <a class="btn peach-gradient" href="/endangered/new">Add Endangered Animal</a>
                </div>
                <div class="col-md-6 offset-3">
                    <a class="btn peach-gradient" href="/sighting/new">Add Sighting</a>
                </div>
            </div>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}