{{#partial "content"}}
    <div class="container">
        <div class="row container">
            <div class="col-md-3"></div>
            <div class="col-md-6 offset-3">
                <div class="form-dark">
                    <div class="card card-image">
                        <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-4">
                            <div class="text-center">
                                <h3 class="amber-text mb-5 mt-4 font-weight-bold"><strong>ADD</strong> <a
                                        class="amber-text font-weight-bold"><strong> SIGHTING</strong></a></h3>
                            </div>
                            <br>
                            <form action="/sighting/new" method="post">
                                <label for="ranger">Ranger Name</label>
                                <input type="text" id="ranger" class="form-control" name="ranger">
                                <br>
                                <label for="animalId">Animal</label>
                                <br>
                                <select class="browser-default custom-select" id="animalId" name="animalId">
                                    <option selected>Select Animal</option>
                                    {{#each animals}}
                                        <option value="{{id}}">{{name}}</option>
                                    {{/each}}
                                </select>
                                <br>
                                <label for="location">Location</label>
                                <br>
                                <select class="browser-default custom-select" id="location" name="location">
                                    <option selected>Select Location</option>
                                    <option value="Zone A">Zone A</option>
                                    <option value="Zone B">Zone B</option>
                                    <option value="Zone C">Zone C</option>
                                </select>
                                <br>
                                <div class="row d-flex align-items-center mb-4">
                                    <br>
                                    <br>
                                    <div class="text-center mb-3 col-md-12">
                                        <button type="submit" class="btn peach-gradient z-depth-1">SUBMIT</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ol-md-3"></div>
        </div>
    </div>
{{/partial}}
{{> layout.hbs}}